body{
    font-family:'Poppins', 'sans-serif';
    background-image: url(../images/bg-main.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    width: 90rem;
    margin: 0 auto;
}

.nav .container{
    display: flex;
    align-items: center;
}

.nav{
    margin-top: 3.625rem;
}

.nav-brand,
.nav-ctas{
    width: 20%;
}

.nav-ctas{
    text-align: right;
}

.nav-brand{
    font-size: 1.375rem;
    font-weight: 600;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
    width: 60%;
}

.menu-item{
    font-size: 1rem;
    text-decoration: none;
    color: #000;
    opacity: 0.8;
}

.menu-item-active{
    opacity: 1;
    font-weight: 600;
}

.menu-item:hover{
    opacity: 1;
    border-bottom: 1px solid #000;
}

.sign-up{
    padding: 0.625rem 1.563rem;
    border: 1px solid rgb(0, 0, 0, 0.20);
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}

.hero{
    display: flex;
    padding: 8.438rem 0;
    flex-direction: column;
    gap: 0.938rem;
    width: 40.813rem;
    align-items: center;
    margin: 0 auto;
}
.hero-headline,
.hero-subheadline{
    text-align: center;
    margin: 0;
}
.hero-headline{
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 3.125rem;
}

.hero-subheadline{
    font-size: 1rem;
    color: rgba(0,0,0,0.6);
    line-height: 2rem;
    width: 34.5rem;
}
.hero-ctas{
    gap: 1.25rem;
    margin-top: 1.875rem;
    display: flex;
}
.ctas-primary,
.ctas-secondary{
    font-size: 1rem;
    font-weight: 600;
    padding: 0.75rem 1.063rem;
}

.ctas-primary{
    background-color: #001AFF;
    color: #FFFF;
    text-decoration: none;
    border-radius: 100px;
    display: inline-block;
    box-shadow: 0px 0.938rem 1.875rem 0px rgba(0, 26, 255, 0.20);
}

.ctas-secondary{
    color: #001AFF;
} 

.jobs{
    text-align: left;
    padding-bottom: 5rem;
}

.job-list{
    display: flex;
    gap: 1.875rem;
}

.job{
    padding: 1.563rem;
    width: calc(100% /3);
    border-radius: 8px;
    background-color:  rgba(255, 255, 255, 0.6);
    box-shadow: 0px 1.875rem 3.75rem 0px rgba(0, 26, 255, 0.10);
    text-decoration: none;
}

.job:hover{
    background-color: #001AFF;
    box-shadow: 0px 1.875rem 3.75rem 0px rgba(0, 26, 255, 0.10);
    transition: all 0.3s;
}

.job-header{
    display: flex;
    gap: 0.813rem;
    align-items: center;
}

.job-logo{
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    flex-shrink: 0;
}

.jobs-headline{
    font-weight: 600;
    font-size: inherit;
    margin: 0 0 1.063rem 0;
}
.job-title,
.job-company{
    margin: 0;
}
.job:hover .job-title,
.job:hover .job-tag,
.job:hover .job-salary{
    color: #FFF;
}

.job:hover .job-company,
.job:hover .job-description{
    color: rgba(255, 255, 255, 0.80);;
}

.job:hover .job-tags{
    background-color:rgba(255, 255, 255, 0.15);
}

.job-hover .job-divider{
    border-color: rgba(255, 255, 255, 0.15);
}

.job-title{
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0 0 0.6rem 0;
    color: #000;
}

.job-company{
    font-size: 0.875rem;
    color:rgba(0, 0, 0, 0.60);
}

.job-description{
    font-size: 1rem;
    line-height: 1.875rem;
    margin: 1.25rem 0;
    height: 3.75rem;
    color: rgba(0, 0, 0, 0.60);
}

.job-divider{
    margin: 1.563rem 0;
    height: 1px;
    border-color: rgba(0, 0, 0, 0.05);;
}

.job-footer{
    display: flex;
    align-items: center;
}

.job-tags{
    padding: 0.313rem 0.938rem;
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 100px;
}

.job-tag{
    color: #000;
    font-size: 0.75rem;
    font-weight: 600;
}

.job-salary{
    color: #000;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 26px;
    margin-left: auto;
}

.nav-menu-icon{
    font-size: 1.5rem;
}

.nav-menu-icon,
.sign-up-mobile{
    display: none;
}



/* tablet mode */
@media only screen and (max-width:768px){
    .container{
        width: 600px;
    }

    .nav.container{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .nav-ctas{
        display: none;
    }

    .menu.hidden{
        display: none;
    }

    .menu
    {
        flex-wrap: wrap;
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        gap: 2rem;
        top: 6rem;
        left: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.9); 
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        z-index: 1;
        padding: 1.5rem 0 ;
        transition: height 0.3s ease;
    }

    .menu-item{
        margin-left: 5.1rem;
    }

    .nav-menu-icon{
        display: flex;
        margin-left: auto;
        align-items: center;
    }

    .sign-up-mobile{
        display: inline-block;
    }


    .hero{
        padding: 3.125rem 0;
        width: 31.25rem;
    }

    .job-list{
        flex-direction: column;
    }

    .job{
        width: 100%;
    }

}

@media only screen and (max-width:480px){
    .container{
        width: 350px;
    }

    .nav.container{
        flex-wrap: wrap;
        flex-direction: column;
    }

    .nav-ctas{
        display: none;
    }

    .menu.hidden{
        display: none;
    }

    .menu
    {
        flex-wrap: wrap;
        align-items: flex-start;
        flex-direction: column;
        position: absolute;
        gap: 2rem;
        top: 6rem;
        left: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.9); 
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        z-index: 1;
        padding: 1.5rem 0 ;
        transition: height 0.3s ease;
    }

    .menu-item{
        margin-left: 2rem;
    }

    .nav-menu-icon{
        display: flex;
        margin-left: auto;
        align-items: center;
    }

    .sign-up-mobile{
        display: inline-block;
    }

    .hero{
        padding: 3.125rem 0;
        width: 20rem;
    }

    .hero-headline{
        font-size: 1.3rem;
        line-height: 1.8rem;
    }

    .hero-subheadline{
        width: 20rem;
        line-height: 1.5rem;
        font-size: 0.9rem;
    }

    .job-list{
        flex-direction: column;
    }

    .job{
        width: 100%;
    }

    .job-description{
        font-size: 0.9rem;
    }

    .ctas-primary,
    .ctas-secondary{
        font-size: 0.8rem;
        font-weight: 600;
        padding: 0.6rem 0.9rem;
    }

}